<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup_form.css') }}">
    <title>Weather Application</title>
</head>
<body>
    <h2>Personalized Weather Application</h2>
    <h4>By: Diego Delgado Carrillo</h4>
    <div class="signup_form_container">
        <form id="signup_form">
            <h2>Sign Up</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" required>

            <button id="submitButton" type="submit">Sign Up</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
